---
layout: default
---

<div class="container">
  <section class="siteheader" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <div class="siteheader__inner">
      <h1 class="siteheader__title"><a href="{{ site.url }}" title="Home">{{ site.siteheader.title }}</a></h1>
      <p class="siteheader__slogan">{{ site.siteheader.slogan }}</p>
      <div class="siteheader__more">
        <form name="Confessions" action="/confessed/" method="POST" data-netlify="true">
          <p>
            <input type="text" name="confession" placeholder="Make your own reports, Susan 🤬" />
          </p>
          <p>
            <button type="submit" class="button-confess">Confess</button>
          </p>
        </form>
      </div> 
    </div>
  </section>

</div>

<div class="container">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="confession" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
      <div class="confession__content">
        <div class="confession__meta">
          <span class="confession__date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
        </div>
        <h2 class="confession__title">{{ post.title }}</h2>
        <img src="{{ post.image }}" alt=".gif from Giphy" />
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>

<div class="container">
  <div class="footer__news">
    <h2><span>News</span></h2>
    <p class="siteheader__notes">Use <a href="https://giphy.com/" title="https://giphy.com/" target="_blank">.GIFs</a> with your confessions, available in the next code deployment.</p>
  </div>
  <img src="https://media.giphy.com/media/12XMGIWtrHBl5e/giphy.gif" alt="Giphy of Michael Scott" />
  <img src="https://media.giphy.com/media/5wWf7GR2nhgamhRnEuA/giphy.gif" alt="Giphy of Dwight Shrute" />
  <img src="https://media.giphy.com/media/l0MYt5jPR6QX5pnqM/giphy.gif" alt="The Office dance" />
</div>

<hr>