/* Author */
.author {
  margin: 80px 0;
  padding-bottom: 70px;
  border-bottom: 1px dashed #ddd;
  @media (max-width: $mobile) {
    margin: 50px 0;
    padding-bottom: 50px;
  }
}

.author__img {
  display: block;
  max-width: 130px;
  max-height: 130px;
  margin: 0 auto 30px;
  border-radius: 50%;
  background-color: $gray-white;
  transition: opacity 100ms ease;
  &:hover {
    .avatar {
      opacity: 0.9;
    }
  }
}

.author__job {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 36px;
  text-align: left;
  color: $dark;
  font-weight: 700;
}

.author__bio {
  max-width: 450px;
  margin: 0 auto 30px;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: $gray-medium;
}

.author__more {
  margin: 15px 0 0;
  text-align: left;
}

a.say-hello {
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  font-family: $sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  border-radius: 50px;
  color: $white;
  background-color: $primary-color;
  transition: all 150ms ease-in-out;
  text-decoration: none;
  box-shadow: 0 10px 20px -4px rgba(30,28,122,0.3);
  &:hover {
    transform: translate(0px, -5px);
    box-shadow: none;
  }
}

.know-more {
  margin-left: 25px;
  font-family: $monospace;
  font-size: 16px;
  font-weight: 400;
  color: $gray;
}
