// *****************
// Color Variables
// *****************
$primary-color: #2039CC;
$secondary-color: #2039CC;
$dark: #222222;
$light: #6c757d;
$gray: #444444;
$gray-dark: #999;
$gray-medium: #d8d8d8;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$blue-light: rgba(32, 57, 204, .04);
$blue-medium: #2039CC;
$blue-dark: #080E33;
$white: #FFFDFA;
$black: #000;

// *****************
// Font Variables
// *****************
$monospace: 'IBM Plex Mono', 'Space Mono', monospace;
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";